!/log/.keep
!/tmp/.keep
*.bowerrc
*.orig
*.rbc
.byebug_history
.env
.powenv
.rspec
.rvmrc
/.bundle
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/log
/log/*
/node_modules
/public/packs
/public/packs-test
/public/system
/spec/tmp
/tmp
/tmp/*
/vendor/assets/bower_components
/vendor/bundle
/yarn-error.log
bower.json
capybara-*.html
pickle-email-*.html
rerun.txt
